<!--для основного опису курсу на сторінках з деталями курсу-->
<section>
    <h2>&gt;<%= title %></h2>
        <p class="main-text"><%= description %></p>
        <ul>
            <li class="main-text"><%= det_1 %></li>
            <li class="main-text"><%= det_2 %></li>
            <li class="main-text"><%= det_3 %></li>
            <li class="main-text"><%= det_4 %></li>
        </ul>
</section>