<!--основні деталі курсу (ціна, рівень тощо)-->
<section>
    <div class="col">
        <ul class="custom-list">
            <li class="pixel-text-middle">Shedule:<span class="pixel-text-small">flexible</span></li>
            <li class="pixel-text-middle">Difficulty:<span class="pixel-text-small"><%= level %></span></li>
            <li class="pixel-text-middle">Total cost:<span class="pixel-text-small">
                    <%= price %>$
                </span></li>
        </ul>
    </div>
    <div class="col">
        <ul class="custom-list">
            <li class="pixel-text-middle">Duration:<span class="pixel-text-small">
                    <%= week_num %> weeks
                </span></li>
            <li class="pixel-text-middle">Age:<span class="pixel-text-small">
                    <%= age %>+
                </span></li>
            <li class="pixel-text-middle">Category:<span class="pixel-text-small">
                    <%= category %>
                </span></li>
        </ul>
    </div>
</section>