<!--навички, отримані після курсу-->
<section>
    <h3 class="pixel-text-middle">What you’ll learn</h3>
    <ul class="custom-list">
        <li>
            <%= skill_1 %>
        </li>
        <li>
            <%= skill_2 %></li>
        <li>
            <%= skill_3 %></li>
        <li>
            <%= skill_4 %></li>
        <li>
            <%= skill_5 %></li>
        <li>
            <%= skill_6 %></li>
    </ul>
</section>