<!--інформація про вчителя курсу-->
<section>
    <h3 class="pixel-text-middle">
        <%= name %>
    </h3>
    <p class="pixel-text-small">
        <%= profession %>
    </p>
    <img src="<%= photo_of_teacher %>" alt="Photo of <%= name %>">
    <p class="main-text">
        <%= description %>
    </p>
</section>